* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.red-theme {
  --white: #fff;
  --background: #be5466;
  --primary: #ff2a2a;
  --secondary: #543586;
  --tertiary: #252525;
  --black: #070707;
  --seesaw: #b9b9b9;
  --base: #636363;
  --log-section: #cdbcdd;

  --shadow: #0000000d;
}

body.green-theme {
  --white: #e2ffcf;
  --background: #032500;
  --primary: #158d15;
  --secondary: #3a5055;
  --tertiary: #302714;
  --black: #070707;
  --seesaw: #8eb98a;
  --base: rgb(116, 95, 64);
  --log-section: #8eb98a;

  --shadow: #0000000d;
}

body.blue-theme {
  --white: #fff;
  --background: #bdc2c9;
  --primary: #1e90ff;
  --secondary: #4e4e86;
  --tertiary: #36393d;
  --black: #070707;
  --seesaw: #da401a;
  --base: #701d06;
  --log-section: #bdd5e9;

  --shadow: #0000000d;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
  color: var(--black);
}

main {
  width: 900px;
  min-width: 900px;
  background-color: var(--white);
  box-shadow: 0 0px 8px var(--shadow);
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#controls-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;

  #reset-button {
    border: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 6px 18px;
    font-weight: bold;
    border-radius: 24px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.25s;
  }

  #reset-button:hover {
    background-color: var(--secondary);
  }
}

#stats-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;

  div {
    background-color: var(--secondary);
    color: var(--white);
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    transition: scale 0.25s;

    span {
      display: block;
      font-size: 24px;
      margin-top: 5px;
      font-weight: normal;
      text-transform: none;
    }
  }

  div:hover {
    scale: 1.05;
  }
}

#seesaw-section {
  position: relative;
  height: 400px;
  background-color: var(--tertiary);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  #base {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 160px;
    background-color: var(--base);
    clip-path: polygon(20% 6%, 80% 6%, 100% 100%, 0% 100%);
  }

  #seesaw {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 20px;
    background-color: var(--seesaw);
    border-radius: 4px;
    transition: transform 0.25s;
  }

  #seesaw::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--base);
  }

  #object-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10px);
  }

  #interaction-layer {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    width: 400px;
    height: 150px;
    cursor: none;

    #preview-object {
      opacity: 0.5;
      pointer-events: none;
      transition: width 0.25s, height 0.25s, color 0.25s;
    }

    #preview-object::before {
      content: "";
      position: absolute;
      left: 50%;
      top: calc(100% + 4px);
      border: 1px dashed var(--white);
      height: var(--line-height);
      border-radius: 2px;
      font-size: 12px;
    }

    #preview-object::after {
      content: var(--distance, "0 cm");
      position: absolute;
      left: 100%;
      top: 0;
      width: 50px;
      border-radius: 2px;
      transform: translateY(-50%);
      font-size: 12px;
      color: var(--white);
    }
  }

  .object {
    border-radius: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    transition: top 0.25s, left 0.25s, border-width 0.25s, border-color 0.25s,
      filter 0.25s;
    user-select: none;
    cursor: grab;
    border: 4px solid transparent;
  }

  .object.grab {
    border: 4px solid var(--white);
    filter: drop-shadow(0 0 8px var(--black));
    z-index: 10;
  }
}

#screen::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--secondary);
}

#log-section {
  height: 100px;
  background-color: var(--log-section);
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  div {
    font-size: 16px;
    opacity: 1;
    transition: transform 0.25s, opacity 0.5s;
  }

  div.initial {
    transform: translateX(-30px);
    opacity: 0;
  }
}

#log-section::-webkit-scrollbar {
  width: 12px;
}

#log-section::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 6px;
  border-top-right-radius: 0;
}

#theme-section {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background-color: var(--black);
  border-radius: 8px;

  button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: scale 0.25s;
  }

  button:hover {
    scale: 1.1;
  }

  #red-theme {
    background-color: #ff2a2a;
  }

  #green-theme {
    background-color: #158d15;
  }

  #blue-theme {
    background-color: #1e90ff;
  }
}
